* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --paleCyan: hsl(193, 100%, 96%);
  --darkCyan: hsl(192, 100%, 9%);
  --grayishBlue: hsl(208, 11%, 55%);
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}
header {
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: var(--paleCyan);
  padding-bottom: 2rem;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 1rem;
  margin-bottom: 3.7rem;
}
.huddle-logo img {
  width: 6rem;
}
.nav-btn {
  background-color: white;
  font-size: 0.625rem;
  font-weight: bold;
  padding: 0.3rem 1.5rem;
  border-radius: 1rem;
}

.hero-content {
  padding: 0 2.25rem;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--darkCyan);
}
.hero-content p {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
p {
    color: var(--grayishBlue);
}
.hero-content a {
  padding: 0.79rem 3.75rem;
  border-radius: 2rem;
  margin-top: 1rem;
 
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
  background: var(--pink);
}
a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: black;
  }  
.hero-content a:hover {
  color: blue;
  background-color: coral;
  text-decoration: none;
}
img {
    width: 100%;
    /* height: auto; */
    /* display : inline-block; */
  }
.mockup-image {
  margin-top: 4rem;
  margin-right: 1.7rem;
  margin-left: 2.6rem;
}






.copyright {
  align-self: end;
  font-size: 0.75rem;
  margin-top: 0;
}
